{
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^@liushushu/(.*)$",
    "^@prisma/client$",
    "^react$",
    "^next",
    "^[./]",
    "^[a-zA-Z]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": ["cn"]
}
